.container {
  position: relative;
  width: 90%;
  height: 100%;
  margin: 0.5vh auto;
  padding: 0.3vh 0.3vw;
  display: flex;
  flex-direction: column;
}

.categoryNav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.category {
  font-size: large;
  font-weight: 500;
  cursor: pointer;
}

.separator {
  font-size: large;
  margin: 0 0.5vw;
}

.subcategories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5vh 0;
}

.subcategory {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1vh 0;
}

.subcategoryTitle {
  font-size: 1.2rem;
  margin: 0.5vh 0;
  cursor: pointer;
  padding-left: 1vw;
}

.subcategoryPreview {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  width: 100%;
  white-space: nowrap; /* Ensures items don't wrap to the next line */
}

.items {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 1.2rem;
  }

  .subcategoryTitle {
    font-size: 1rem;
  }
}
