.container {
  position: relative;
  width: 90%;
  height: 100%;
  margin: 0.5vh auto;
  padding: 0.3vh 0.3vw;
  display: flex;
  flex-direction: column;
}

.categoryNav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.category {
  font-size: large;
  font-weight: 500;
  cursor: pointer;
}

.separator {
  font-size: large;
  margin: 0 0.5vw;
}

.subcategories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5vh 0;
}

.subcategory {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1vh 0;
}

.subcategoryTitle {
  font-size: 1.2rem;
  margin: 0.5vh 0;
  cursor: pointer;
  padding-left: 1vw;
}

.subcategoryPreview {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  width: 100%;
  white-space: nowrap;

  border-radius: 15px 15px 15px 15px;
  background-color: var(--neutral-background-color);
  border: 1px solid;
  border-color: var(--primary-color);
}

.subcategoryPreview::-webkit-scrollbar {
  height: 1.5vh;
}
.subcategoryPreview::-webkit-scrollbar-track {
  background: transparent;
}
  
.subcategoryPreview::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px var(--primary-color);
  border: solid 3px transparent;
  border-radius: 10px 10px 10px 10px;
}

.subcategoryPreview::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 10px 10px var(--accent-color);
}

.subcategoryPreview::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-right: 3vw; 
}

.subcategoryPreview::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-left: 3vw;
}



.items {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 1.2rem;
  }

  .subcategoryTitle {
    font-size: 1rem;
  }
}
