.formContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.imageContainer {
  flex: 1;
}

.textInput {
  border: 2px solid rgb(212, 139, 14);
}

.inputsContainer {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.tagsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}