.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.formContainer {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  margin: auto 0;
}

.imageContainer {
  height: auto;
  flex: 3;
}

.textInput {
  width: 100%;
  border: 2px solid var(--accent-color);
  padding: 0.1vh 0.5vw;
}

.inputsContainer {
  flex: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.sectionTitle {
  font-weight: bold;
}

.nameSection {
  width: 100%;
  flex: 1;
}

.tagSection {
  width: 100%;
  flex: 1;
}

.tagsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: self-start;
  justify-content: space-around;
  align-content: flex-start;
  width: 100%;
}

.control {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}