.inp {
  border: 2px solid black;
  padding: 3px;
}

.submit {
  border: 1px solid wheat;
  background-color: blanchedalmond;
  padding: 0.5vh 10vw;
  cursor: pointer;
}

.form {
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}