.restaurantView {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 0.3vh 1vw;
}

.restaurantName {
  font-size: 3vh;
  min-height: 5%;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: row;
  height: 95%;
  width: 100%;
}

.itemlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 0;
  width: 90%;
  margin: auto;
  height: 95%;
}

.title {
  font-weight: bold;
  align-self: center;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 5%;
}

.menu {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  overflow-y: scroll;
}

.tags {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  height: 100%;
}

.taglist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  margin: auto;
  height: 100%;
}

.backdrop {
  position: fixed;
  z-index: 1040;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: fixed;
  width: 60%;
  z-index: 1040;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #e5e5e5;
  background-color: white;
  box-shadow: 0 0.3vh 0.5vw rgba(0, 0, 0, 0.5);
  padding: 1vh 1vw;
}
