.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 33vw;
  min-height: 15vh;
  margin: 1vw 1vw;

  background-color: var(--secondary-color);
  padding: 0.7vh 0.7vw;
  border-radius: 5% 5%;
  box-shadow: 0.45vw 0.3vh 0.5vw grey;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  flex: 5;
}

.image {
  position: relative;
  flex-grow: 0;
  aspect-ratio: 16 / 9;
  height: 100%;
  overflow: hidden;
  border-radius: 5%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex: 1;
}

.name {
  font-size: medium;
  text-align: center;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit {
  border: 1px solid black;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 100%;
  width: 5vw;
  height: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: smaller;
  transform: translate(20%, -20%);
  background-color: var(--accent-color);
  color: black;
  cursor: pointer;
}

.edit:hover {
  border: 2px solid black;
  color: black;
}

.tags {
  font-size: small;
  flex: 3;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 0.5vh;
  justify-content: center;
  width: 100%;
}

.icon {
  height: 60%;
  width: 60%;
}

.small {
  height: 25%;
}