.tag {
  background-color: violet;
  border-radius: 25%;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

.tag:hover {
  scale: 1.1;
}