/* Container with horizonal item alignment */
.hflex {
  position: relative;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-between;
  width: 90%;
  height: 15vh;
  z-index: 0;
}

.option {
  /* Text alignment */ 
  justify-content: center;
  align-items: center;
  display: flex;

  /* On-page boxing */
  width: 100%;
  margin: 3vw;
  margin-bottom: 0;
  height: 50%;
  overflow: hidden;

  /* Styling */
  font-size: 3.5vw;
  border-radius: 30%;
  border: none;
  color: white;
  text-shadow: 2px 2px 1px black;
  font-weight: 500;
  background: linear-gradient(170deg, #e3a63d 25%, #ed7b4a 75%);
  cursor: pointer;
  transition: 0.3s;
}

.option:hover {
  scale: 1.25;
}