/* Container with vertical item alignment */
.vflex {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: realtive;
}

.container {
  margin: 0;
  width: 100%;
  height: 92vh;
  padding: 1vh 3vw;
  position: relative;
  background-color: #ffe9c4;
  z-index: 1;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6vw;
  height: 6vh;
}

/* Control panel container */
.control {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.prompt {
  font-size: 3vw;
  justify-self: center;
}

.btn {
  background-color: burlywood;
  border-radius: 20%;
  padding: 0.5rem 1rem;
  border-style: solid;
  border-color:black;
}

/* Control button styling */
.cbtn {
  border: solid black;
  border-width: 0 0.4rem 0.4rem 0;
  display: inline-block;
  padding: 0.3rem;
}

.cbtn:hover {
  scale: 1.1;
}

.left {
  transform: rotate(135deg);
}

.right {
  transform: rotate(-45deg);
}

.bottom {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  height: 60vh;
  width: 100%;
  z-index: 1;
  /* Make mascot unclickable */
  pointer-events: none;
}

.mascot {
  position: absolute;
  height: 100%;
  max-width: 100%;
  width: auto;
  margin: auto;
}