@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,900&display=swap');


@font-face {
  font-family: BagelFatOne;
  src: url(../assets/fonts/BagelFatOne-Regular.ttf);
}

:root {
  --primary-color: #f5a491;
  --secondary-color: #ffd3b5;
  --accent-color: #ff8f6a;
  --background-color: #fafafa;
  --primary-text-color: #333333;
  --secondary-text-color: #777777;
  --success-color: #8bc34a;
  --error-color: #f44336;
  --warning-color: #fdd835;
  --neutral-color: #cccccc;
  --neutral-background-color: #ffe8daff;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Default font-size for web */
:root {
  font-size: 20px;
}

/* Font-size for mobile */
@media (max-width: 768px) {
  :root {
    font-size: 14px;
  }
}

body {
  background-color: var(--background-color);
  color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.content {
  height: 92%;
  width: 100%;
}

.navigation {
  width: 100%;
  height: 5%;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 3px 0 rgba(0,0,0,.3);
  z-index: 2;
  position: relative;
}

.footer {
  width: 100%;
  height: 3%;
  color: var(--primary-text-color);
  background-color: var(--secondary-color); /* #8B4513 */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 3px 0 rgba(0,0,0,.5);
}

.logo {
  text-align: center;
  vertical-align: center;
  font-size: 4.5vh;
  padding-bottom: 0.7vh;
  font-family: BagelFatOne;
  -webkit-text-stroke: 2px #fc6a6d;
	-webkit-text-fill-color: white;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  font-weight: bold;
  font-size: 3vh;
  margin: 3vh 3vw;
  cursor: pointer;
  text-align: center;
}

.link:hover {
  color: burlywood;
}